@keyframes move-to-left {
  to {
    transform: translateX(-60px);
  }
}

@keyframes move-to-right {
  to {
    z-index: 1;
    transform: translateX(60px);
  }
}

@keyframes move-up-down {
  from {
    transform: translateY(40);
  }
  to {
    transform: translateY(-40px);
  }
}

@keyframes move-down-up {
  from {
    transform: translateY(-40);
  }
  to {
    transform: translateY(40px);
  }
}
