@keyframes move-to-left {
  to {
    transform: translateX(-80px);
  }
}

@keyframes move-to-right {
  to {
    z-index: 1;
    transform: translateX(80px);
  }
}

@keyframes move-up-down {
  from {
    transform: translateY(40);
  }
  to {
    transform: translateY(-40px);
  }
}
