* {
  box-sizing: border-box;
}

:root {
  --heading-font: "Sora", sans-serif;
  --text-font: "Poppins", sans-serif;

  --background-color: #fff2e5;
  --primary-color: #ff5b2e;
  --heading-color: #000958;
  --text-color: #656689;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  font-size: 1.6rem;
  font-family: var(--text-font);
  color: var(--text-color);
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--heading-color);
}

input,
button,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}

a {
  color: #5e6085;
  text-decoration: none;
}

.btn {
  --height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 117px;
  min-height: var(--height);
  border-radius: 99px;
  border: 1px solid rgb(77, 82, 135, 0.7);
  color: var(--heading-color);
  font-weight: 600;
  font-family: var(--text-font);
  font-size: 1.4rem;
}

/* =========== Header ========== */
.header {
  margin-top: 10px;
}

.header__body {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.navbar__link {
  padding: 8px 18px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
}

.navbar__link:hover {
  color: var(--heading-color);
  text-shadow: 1px 0 0 var(--heading-color);
}

.header__action {
  display: flex;
  position: relative;
}

.btn__left,
.btn__right {
  border: none;
}

.btn__left {
  position: relative;
  font-weight: 500;
  color: var(--text-color);
}

.btn__right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 50%;
  height: 100%;
  border: 1px solid rgba(77, 82, 135, 0.7);
  border-radius: 99px;
  transform: translateX(100%);
  transition: 0.5s ease-in-out;
}

.btn__left:hover {
  font-weight: 600;
  color: var(--heading-color);
}

.btn__left:hover + .btn__right {
  font-weight: 500;
  color: var(--text-color);
}

.btn__left:hover + .btn__right::before {
  transform: translateX(0);
}
