* {
  box-sizing: border-box;
}

:root {
  --heading-font: "Poppins", sans-serif;
  --text-font: "Sora", sans-serif;
  --background-color: #fff2e5;
  --primary-color: #ff5b2e;
  --heading-color: #000958;
  --text-color: #656689;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-one);
}
