/* Import another CSS */
@import url("./animations.css");

* {
  box-sizing: border-box;
}

:root {
  --heading-font: "Sora", sans-serif;
  --text-font: "Poppins", sans-serif;

  --background-color: #fff2e5;
  --primary-color: #ff5b2e;
  --heading-color: #000958;
  --text-color: #656689;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  font-size: 1.6rem;
  font-family: var(--text-font);
  color: var(--text-color);
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--heading-color);
}

input,
button,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}

a {
  color: #5e6085;
  text-decoration: none;
}

.btn {
  --height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 117px;
  min-height: var(--height);
  border-radius: 99px;
  border: 1px solid rgb(77, 82, 135, 0.7);
  color: var(--heading-color);
  font-weight: 600;
  font-family: var(--text-font);
  font-size: 1.4rem;
}

.btn-orange {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 22px 30px;
  width: fit-content;
  height: fit-content;
  border-radius: 99px;
  background: var(--primary-color);
  color: var(--primary-color);
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.btn-orange:hover {
  opacity: 0.9;
  cursor: pointer;
}

.btn-orange__text {
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
}

.section__heading {
  color: var(--heading-color);
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.2;
}

.section__desc {
  color: #656689;
  margin-top: 24px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88;
}

.icon__next--wrap {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
}

.icon__next {
  color: inherit;
}

/* =========== Header ========== */
.header {
  margin-top: 10px;
}

.header__body {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.navbar__link {
  padding: 8px 18px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
}

.navbar__link:hover {
  color: var(--heading-color);
  text-shadow: 1px 0 0 var(--heading-color);
}

.header__action {
  display: flex;
  position: relative;
}

.btn__left,
.btn__right {
  border: none;
}

.btn__left {
  position: relative;
  font-weight: 500;
  color: var(--text-color);
}

.btn__right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 50%;
  height: 100%;
  border: 1px solid rgba(77, 82, 135, 0.7);
  border-radius: 99px;
  transform: translateX(100%);
  transition: 0.5s ease-in-out;
}

.btn__left:hover {
  font-weight: 600;
  color: var(--heading-color);
}

.btn__left:hover + .btn__right {
  font-weight: 500;
  color: var(--text-color);
}

.btn__left:hover + .btn__right::before {
  transform: translateX(0);
}

/* ========= Hero ========== */
.hero {
  margin-top: 84px;
  padding-bottom: 94px;
  margin-bottom: 37px;
}

.hero__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__media {
  display: flex;
  position: relative;
}

.img-wrap {
  position: relative;
  width: 388px;
  height: 488px;
  border-radius: 16px;
  border: 3px solid #fff;
  background: #fe997b;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.img__pt {
  padding-top: 24px;
}

.decor {
  position: absolute;
  z-index: -1;
}

.hero__decor-left {
  width: 230px;
  height: 230px;
  left: -58px;
  bottom: 10px;
  animation: move-to-left 3s linear 0.5s infinite alternate;
}

.hero__decor-right {
  width: 50px;
  height: 100px;
  top: 16px;
  right: -40px;
  animation: move-to-right 3s linear 0.5s infinite alternate;
}

.img-wrap__small {
  align-self: flex-end;
  margin: 0 0 -58px -24px;
  width: 186px;
  height: 244px;
  background: #faa7ad;
  border: 2px solid #f7dddf;
}

.hero__list {
  position: absolute;
  bottom: -94px;
  left: 129px;
  width: fit-content;
  height: fit-content;
  padding: 20px 14px 0px 14px;
  border-radius: 10px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__item {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.hero-item-img__wrap {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #fec23f;
  overflow: hidden;
}

.hero-item__img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.hero-item__content {
  margin-left: 10px;
}

.hero-item__title {
  color: #181e52;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}

.item__line {
  margin: 7px 0 0 1px;
  width: 118px;
  height: 4px;
  background-color: #ebecf2;
  border-radius: 10px;
}

.item-line__small {
  margin-top: 6px;
  width: 39px;
}

.seperate {
  margin-bottom: 20px;
  background: #f2f2f2;
  width: 222px;
  height: 2px;
}

/* Hero content */
.hero__content {
  margin-left: 120px;
}

.hero__heading {
  font-size: 66px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.15;
}

.hero__desc {
  width: 391px;
}

.hero__action {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero__link {
  margin-left: 24px;
  color: var(--heading-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  text-decoration: underline;
}

/* About */
.about {
  padding: 53px 0;
  margin-top: 77px;
}

.about__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__content {
  width: 50%;
}

.about__intro {
  color: #5e6085;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
}

.about__heading {
  margin-top: 15px;
  width: 446px;
}

.about__desc {
  width: 431px;
}

.about__list {
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;
}

.about__item {
  display: flex;
  align-items: center;
}

.icon-check__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.about__item:hover .icon-check__wrap {
  box-shadow: 0 8px 8px -4px #ffd4c5;
}

.icon-check {
  display: inline-block;
  width: 8px;
  height: 12px;
  border-bottom: 2px solid var(--background-color);
  border-right: 2px solid var(--background-color);
  border-radius: 2px;
  rotate: 45deg;
}

.about-item__desc {
  margin-left: 10px;
}

.about__media {
  display: flex;
}

.about__exp {
  position: relative;
  align-self: flex-end;
  margin-bottom: 238px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 156px;
  border-radius: 10px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
  animation: move-up-down 3s linear 0.5s infinite alternate;
}

.about-exp__year {
  color: #fff;
  font-family: var(--heading-font);
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1;
}

.about-exp__desc {
  margin-top: 14px;
  color: #c6f4f9;
  font-family: var(--text-font);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.42;
}

.about-exp__decor {
  position: absolute;
  top: -35px;
  right: -35px;
}

.about-img__wrap {
  position: relative;
  width: 494px;
  height: fit-content;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(255, 156, 207, 1) 0%, transparent 50%);
}

.about__img {
  position: relative;
  display: block;
  bottom: 0;
  width: 100%;
}

.about-exp__decor-2 {
  position: absolute;
  right: -50px;
  top: 36%;
  animation: move-to-right 3s linear 0.5s infinite alternate;
}
